*{margin:0;padding:0;}

body {
    background-color: #eed;
}
div.demo{
  margin:30px auto;
  font-size:0;
}
div.demo:before{
  content: '_';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.text{
  display: inline-block;
  font-size:23px;
  vertical-align: middle;/* 保证文字垂直居中 */
}
div.button {
	margin:10px auto;
    text-align: center;
}

div.demo  {
    background-color: #eef;
	width: 300px;
	height: 300px;
	padding: 2% 2% 2% 2%;
    text-align: center;
	margin: auto;
	
	background: -webkit-linear-gradient(#aae,#ade);
	background: -o-linear-gradient(#aae,#ade);
	background: -moz-linear-gradient(#aae,#ade);
	background: linear-gradient(#aae,#ade);
}
button.demo  {
    background-color: #fef;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.half {
	float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
